/* General styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variables */

:root {
    --red-color: #CB2D2B;
    --black-color: #353535;
    --gray-color: #6F6F6F;
    --white-color: #fcfcfc;
}

body {
    font-family: sans-serif;
    background-color: var(--white-color);
    font-size: 16px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Header sytles */

.header {
    display: flex;
    flex-direction: column;
    background-color: var(--gray-color);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    z-index: 1001;
}

.logo {
    min-width: 5em;
}

.ham {
    background: none;
    border: none;
    font-size: 3em;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
}

/* Navigation */

.nav__ul {
    position: fixed;
    top: 135px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #c1bebe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav__ul.active {
    transform: translateY(0);
    opacity: 1;
}

.nav__li {
    margin: 0 0 3.5em 0;
    padding: 5px;
    font-size: 1.7em;
}

.nav__li a {
    color: var(--red-color);
}

.nav__li a i {
    color: var(--black-color);
    margin: 0 .3em;
}

/* Footer */
footer {
    background-color: var(--black-color);
    color: #fff;
    text-align: center;
    padding: 1.5rem 1rem;
}

footer img {
    width: 4em;
    margin-bottom: 0.5rem;
}

footer p {
    font-size: 0.8rem;
    color: #ddd;
}